<div class="main-content">
  <div class="container-fluid">
    <div class="">
      <app-reporters-table
        [reporters]="($reporters | async)"
        [count]="($count | async)"
        [page]="($page | async)"
        [limit]="($limit | async)"
        (nextPage)="nextPage()"
        (prevPage)="prevPage()"
        (firstPage)="firstPage()"
        (lastPage)="lastPage()"
        (goToPage)="goToPage($event)"
        (clickCheck)="setAsAdmin($event)"
        (clickClear)="unsetAsAdmin($event)"
        setAsAdminBtn="true"
      ></app-reporters-table>
    </div>
  </div>
</div>
