<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card card-signup">
          <h2 class="card-title text-center">Change password</h2>
          <div class="card-body">
            <form [formGroup]="changePasswordForm">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group has-default">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">info</i>
                        </span>
                      </div>
                      <input formControlName="oldPassword" type="password" class="form-control" placeholder="Old Password">
                    </div>
                  </div>

                  <div class="form-group has-default">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">info</i>
                        </span>
                      </div>
                      <input formControlName="newPassword" type="password" placeholder="New Password" class="form-control">
                    </div>
                  </div>

                  <div class="form-group has-default">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">info</i>
                        </span>
                      </div>
                      <input formControlName="passwordConfirmation" type="password" placeholder="Re-type Password" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
              <br />
              <div class="text-center">
                <button *ngIf="loading" class="btn btn-info btn-round mt-4" disabled>Change Password</button>
                <button *ngIf="!loading" (click)="changePassword()" class="btn btn-info btn-round mt-4">Change Password</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
