
<div class="wrapper wrapper-full-page">
  <div class="page-header register-page header-filter" filter-color="black" style="background-image: url('./assets/img/city-background.jpeg'); background-size: cover; background-position: top center;">
    <div class="container">
        <div class="col-md-10 ml-auto mr-auto">
          <div class="card card-signup">
            <h2 class="card-title text-center">Register</h2>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 mr-auto">
                  <form [formGroup]="registrationForm" (submit)="submit()" class="form">
                    <div class="row">
                      <div class="col-md-5 mr-auto">

                        <div class="form-group has-default">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">face</i>
                              </span>
                            </div>
                            <input formControlName="username" type="text" class="form-control" placeholder="Username">
                          </div>
                        </div>

                        <div class="form-group has-default">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">mail</i>
                              </span>
                            </div>
                            <input formControlName="email" type="text" class="form-control" placeholder="Email...">
                          </div>
                        </div>

                        <div class="form-group has-default">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">face</i>
                              </span>
                            </div>
                            <input formControlName="fname" type="text" placeholder="First Name" class="form-control">
                          </div>
                        </div>

                        <div class="form-group has-default">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">face</i>
                              </span>
                            </div>
                            <input formControlName="lname" type="text" placeholder="Last Name" class="form-control">
                          </div>
                        </div>
                      
                        <div class="form-group has-default">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">face</i>
                              </span>
                            </div>
                            <mat-select class="form-control" name="gender" formControlName="gender">
                              <mat-option *ngFor="let gender of genders" [value]="gender.value">{{ gender.name }}</mat-option>
                            </mat-select>
                          </div>
                        </div>

                        <div class="form-group has-default">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">face</i>
                              </span>
                            </div>
                            <input formControlName="age" type="number" placeholder="Age" class="form-control">
                          </div>
                        </div>

                        <div class="form-group has-default">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">face</i>
                              </span>
                            </div>
                            <input formControlName="alias" type="text" placeholder="Alias / Nickname" class="form-control">
                          </div>
                        </div>

                        <div class="form-group has-default">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">face</i>
                              </span>
                            </div>
                            <input formControlName="street" type="text" placeholder="Street" class="form-control">
                          </div>
                        </div>
                      </div><!--col-md-6-->

                      <div class="col-md-5 mr-auto">
                        <div class="form-group has-default">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">face</i>
                              </span>
                            </div>
                            <input formControlName="barangay" type="text" class="form-control" placeholder="Barangay">
                          </div>
                        </div>

                        <div class="form-group has-default">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">face</i>
                              </span>
                            </div>
                            <input formControlName="city" type="text" class="form-control" placeholder="City">
                          </div>
                        </div>

                        <div class="form-group has-default">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">face</i>
                              </span>
                            </div>
                            <input formControlName="region" type="text" placeholder="Region" class="form-control">
                          </div>
                        </div>

                        <div class="form-group has-default">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">face</i>
                              </span>
                            </div>
                            <input formControlName="country" type="text" placeholder="Country" class="form-control">
                          </div>
                        </div>
                      
                        <div class="form-group has-default">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">face</i>
                              </span>
                            </div>
                            <input formControlName="zip" type="text" placeholder="Zip" class="form-control">
                          </div>
                        </div>

                        <div class="form-group has-default">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">lock_outline</i>
                              </span>
                            </div>
                            <input formControlName="password" type="password" placeholder="Password..." class="form-control">
                          </div>
                        </div>

                        <div class="form-group has-default">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">lock_outline</i>
                              </span>
                            </div>
                            <input formControlName="passwordConfirmation" type="password" placeholder="Confirm Password" class="form-control">
                          </div>
                        </div>

                      </div><!--col-md-6-->
                    </div>
                    <br />
                    <div class="text-center">
                      <button type="submit" class="btn btn-info btn-round mt-4">Register</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div><br /><br /></div>
    <footer class="footer ">
      <div class="container">
        <!--<nav class="pull-left">
          <ul>
            <li>
              <a href="https://www.creative-tim.com">
                Creative Tim
              </a>
            </li>
            <li>
              <a href="https://creative-tim.com/about-us">
                About Us
              </a>
            </li>
            <li>
              <a href="http://blog.creative-tim.com">
                Blog
              </a>
            </li>
            <li>
              <a href="https://www.creative-tim.com/license">
                Licenses
              </a>
            </li>
          </ul>
        </nav>-->
        <div class="copyright pull-right">
          &copy;
            {{test | date: 'yyyy'}}, made with <i class="material-icons">favorite</i> by
          <a href="#" target="_blank">Realtime Report Tracking System</a> web application
        </div>
      </div>
    </footer>
  </div>
</div>
