<div class="main-content">
  <div class="container-fluid">
    <div *ngIf="hostMemberships.length < 1; else hostPreview" class="row">
      <app-hosts-list
        [hosts]="($hosts | async)"
        [count]="($count | async)"
        [page]="($page | async)"
        [limit]="($limit | async)"
        (nextPage)="nextPage()"
        (prevPage)="prevPage()"
        (firstPage)="firstPage()"
        (lastPage)="lastPage()"
        (goToPage)="goToPage($event)"
        (addButton)="sendRequestToHost($event)"
        (searchHost)="searchHost($event)"
      ></app-hosts-list>
    </div>
    <ng-template #hostPreview>
      <app-host-preview
        [hostMembership]="hostMemberships[0]"
      ></app-host-preview>
    </ng-template>
  </div>
</div>
