<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <app-hosts-list
        [hosts]="($hosts | async)"
        [count]="($count | async)"
        [page]="($page | async)"
        [limit]="($limit | async)"
        (nextPage)="nextPage()"
        (prevPage)="prevPage()"
        (firstPage)="firstPage()"
        (lastPage)="lastPage()"
        (goToPage)="goToPage($event)"
        (addButton)="sendRequestToHost($event)"
      ></app-hosts-list>
    </div>
  </div>
</div>
